<div>&nbsp;</div>

<div>
<div class="thumb tleft" style="float: left; clear: left; margin: 0.5em 1.4em 1.3em 0px; width: auto; background-color: rgb(255, 255, 255); color: rgb(34, 34, 34); font-family: Tahoma, " title="قارچ خوراکی تکمه‌ای">
<div class="thumbinner" style="min-width: 100px; border: 1px solid rgb(200, 204, 209); padding: 3px; background-color: rgb(248, 249, 250); font-size: 13.16px; text-align: center; overflow: hidden; width: 222px;"><a class="image" href="https://commons.wikimedia.org/wiki/File:Edible_fungi_in_basket_2009_G1.jpg?uselang=fa" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;"><img alt="" class="thumbimage" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Edible_fungi_in_basket_2009_G1.jpg/220px-Edible_fungi_in_basket_2009_G1.jpg" style="background-color:rgb(255, 255, 255); border:1px solid rgb(200, 204, 209); height:165px; vertical-align:middle; width:220px" /></a>

<div class="thumbcaption" style="border: 0px; line-height: 1.4em; padding: 3px; font-size: 12.3704px; text-align: right;">
<div class="magnify" style="float: left; margin-right: 3px; margin-left: 0px;">&nbsp;</div>
قارچ خوراکی چیده شده در یک سبد</div>
</div>
</div>

<p><strong>قارچ&zwnj;های خوراکی</strong>&nbsp;ساختارهای تولید مثلی (کلاهک) گوشت مانند خوراکی چندین گونهٔ قارچ&zwnj;های بزرگ (ماکرو) هستند. (قارچ&zwnj;هایی که آن&zwnj;قدر بزرگ هستند که با&nbsp;<a href="https://fa.wikipedia.org/wiki/چشم_غیرمسلح" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="چشم غیرمسلح">چشم غیرمسلح</a>دیده شوند). آن&zwnj;ها ممکن است رو یا زیر زمین ظاهر شوند که انواع روی زمین، با دست چیده می&zwnj;شوند. خوراکی بودن قارچ&zwnj;ها می&zwnj;تواند به صورت عدم وجود ترکیبات&nbsp;<a href="https://fa.wikipedia.org/wiki/سم" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="سم">سمی</a>&nbsp;برای&nbsp;<a href="https://fa.wikipedia.org/wiki/انسان" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="انسان">انسان</a>&nbsp;در قارچ و داشتن&nbsp;<a href="https://fa.wikipedia.org/wiki/مزه" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="مزه">مزه</a>&nbsp;و&nbsp;<a href="https://fa.wikipedia.org/wiki/بو" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="بو">بوی</a>&nbsp;مطبوع تعریف شود. انسان&zwnj;ها از قارچ&zwnj;های خوراکی به دلیل&nbsp;<a href="https://fa.wikipedia.org/wiki/ارزش_غذایی" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="ارزش غذایی">ارزش غذایی</a>&nbsp;آن&zwnj;ها برای&nbsp;<a class="mw-redirect" href="https://fa.wikipedia.org/wiki/غذا" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="غذا">غذا</a>&nbsp;استفاده می&zwnj;کنند. همچنین گاهی از قارچ&zwnj;ها برای ارزش&nbsp;<a href="https://fa.wikipedia.org/wiki/دارو" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="دارو">دارویی</a>&nbsp;و پزشکی آن&zwnj;ها جهت&nbsp;<a href="https://fa.wikipedia.org/wiki/درمان" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="درمان">درمان</a>&nbsp;استفاده می&zwnj;شود. قارچ&zwnj;هایی که افراد اجراکنندهٔ&nbsp;<a href="https://fa.wikipedia.org/wiki/پزشکی_عامیانه" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="پزشکی عامیانه">پزشکی عامیانه</a>استفاده می&zwnj;کنند به قارچ&zwnj;های دارویی معروف هستند.</p>

<p>با وجود این&zwnj;که قارچ&zwnj;های توهم&zwnj;زا (مانند&nbsp;<a class="mw-redirect" href="https://fa.wikipedia.org/wiki/قارچ‌های_جادو" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="قارچ‌های جادو">قارچ&zwnj;های جادو</a>)، گاهی اوقات برای اهداف مذهبی در برخی ادیان یا به عنوان&nbsp;<a class="mw-redirect" href="https://fa.wikipedia.org/wiki/مواد_مخدر" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="مواد مخدر">مواد مخدر</a>&nbsp;استفاده می&zwnj;شوند؛ می&zwnj;توانند&nbsp;<a href="https://fa.wikipedia.org/wiki/تهوع" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="تهوع">تهوع</a>&nbsp;و&nbsp;<a class="mw-redirect" href="https://fa.wikipedia.org/wiki/موقعیت_آگاهی" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="موقعیت آگاهی">اختلالات آگاهی</a>شدیدی ایجاد کنند و به همین دلیل معمولاً قارچ خوراکی تلقی نمی&zwnj;شوند.</p>

<p>قارچ&zwnj;های خوراکی شامل&nbsp;<a href="https://fa.wikipedia.org/wiki/گونه_(زیست‌شناسی)" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="گونه (زیست‌شناسی)">گونه&zwnj;های</a>&nbsp;قارچی بسیاری می&zwnj;شوند که ممکن است به صورت وحشی در طبیعت چیده شده یا پرورش داده شوند. شناختن قارچ&zwnj;های خوراکی وحشی از قارچ&zwnj;های سمی به تجربه و تخصص بسیاری نیاز دارد و خطر سمی بودن قارچ&zwnj;هایی که در طبیعت یافت می&zwnj;شوند بسیار بالاست؛ بنابراین هرگز نباید قارچ&zwnj;های موجود در طبیعت را به صرف داشتن ظاهر خوب مصرف کرد، چراکه&nbsp;<a href="https://fa.wikipedia.org/wiki/مسمومیت" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="مسمومیت">مسمومیت&zwnj;های</a>&nbsp;شدید و حتی گاهی مرگ از پیامدهای مصرف قارچ&zwnj;های وحشی سمی موجود در طبیعت است. قبل از آن که قارچی را خوراکی بدانیم، باید قارچ شناسایی شود. شناسایی کامل یک گونهٔ قارچ تنها راه ایمن برای اطمینان از خوراکی بودن قارچ است. برخی از گونه&zwnj;های قارچ که برای بیشتر مردم خوراکی هستند، ممکن است برای برخی افراد سبب واکنش&zwnj;های&nbsp;<a href="https://fa.wikipedia.org/wiki/آلرژی" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="آلرژی">آلرژیک</a>&nbsp;شوند. همچنین قارچ&zwnj;های خوراکی کهنه یا نگهداری شده با روش نادرست می&zwnj;توانند موجب&nbsp;<a href="https://fa.wikipedia.org/wiki/مسمومیت_غذایی" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="مسمومیت غذایی">مسمومیت غذایی</a>&nbsp;شوند.</p>

<p>قارچ&zwnj;های سمی مرگ&zwnj;بار که اشتباه گرفته شدن آن&zwnj;ها با قارچ&zwnj;های خوراکی رایج است و علت موارد مرگ&zwnj;بار بسیاری از مسمومیت هستند شامل چندین گونه از&nbsp;<a href="https://fa.wikipedia.org/wiki/قارچ_قاتل" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="قارچ قاتل">قارچ قاتل</a>، به ویژه&nbsp;<a class="mw-redirect" href="https://fa.wikipedia.org/wiki/آمانیتا_فالوئیدس" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="آمانیتا فالوئیدس">آمانیتا فالوئیدس</a>&nbsp;و&nbsp;<a class="new" href="https://fa.wikipedia.org/w/index.php?title=کلاه_مرگ&amp;action=edit&amp;redlink=1" style="text-decoration-line: none; color: rgb(165, 88, 88); background: none;" title="کلاه مرگ (صفحه وجود ندارد)">کلاه مرگ</a>&nbsp;(یا&nbsp;<a href="https://fa.wikipedia.org/wiki/کلاهک_مرگ" style="color: rgb(11, 0, 128); background: none;" title="">کلاهک مرگ</a>) هستند. قارچ&zwnj;هایی که در مکان&zwnj;های&nbsp;<a href="https://fa.wikipedia.org/wiki/آلودگی" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="آلودگی">آلوده</a>&nbsp;رشد می&zwnj;کنند، ممکن است مواد آلوده مانند&nbsp;<a class="mw-redirect" href="https://fa.wikipedia.org/wiki/فلزات_سنگین" style="text-decoration-line: none; color: rgb(11, 0, 128); background: none;" title="فلزات سنگین">فلزات سنگین</a>&nbsp;را در خود انباشته کنند. خطر انباشت آلودگیهایی نظیر جیوه (و دیگر فلزات سنگین) در قارچهای خوراکی وجود دارد و باید از آن جلوگیری شود تا از خطرات پیشگیری شود.</p>
</div>
