<p>ییییییییییییییییی</p>

<p><u><em><strong><img alt="angry" src="http://127.0.0.1/prj_maghalat/asset/default/js/plugins/ckeditor/plugins/smiley/images/angry_smile.png" style="height:23px; width:23px" title="angry" /><img alt="heart" src="http://127.0.0.1/prj_maghalat/asset/default/js/plugins/ckeditor/plugins/smiley/images/heart.png" style="height:23px; width:23px" title="heart" /></strong></em></u></p>

<p><u><em><strong>بببببببببببببببببببببب</strong></em></u></p>
