@media only screen and (min-width: 767.99px) {
  // Register
  .register {
    .register-header {
      width: 40%;
    }
  }

  // Contact Us
  .contact-us {
    .content {
      background: url(../img/contactus-bg.png) no-repeat bottom center;
      background-size: auto 80%;
    }
  }

  // Products
  .products {
    // Filter
    .filters {
      border: 1px solid #eee;
      border-radius: 5px;
      .categories {
        padding: 20px;
      }
    }

    // Result
    .result {
      // Search Box
      .p-search-box {
        width: 70%;
      }
    }

    // Filter Button
    .filter-btn {
      border-radius: 5px 5px 0 0;
    }
  }

  // Product Details
  .product-details {
    // Features
    .product-features {
      & > .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }

    // Seller Other Products
    .other-products {
      // Header
      .section-header {
        margin-bottom: 70px;
      }

      // Farmer's Product
      .farmer-products {
        transform: translateY(-50px);
      }
    }
  }
}
