@media only screen and (max-width: 767.99px) {
  // Register
  .register {
    .register-header {
      width: 80%;
    }
  }

  // Products
  .products {
    // Filters
    .filters {
      padding: 50px 20px 20px 20px;
      background: #ffffff;
      position: absolute;
      top: -100px;
      right: -100vw;
      transition: 0.3s;
      z-index: 550;
      width: 100vw;
      height: 100vh;

      // Categories
      .categories {
        height: calc(100vh - 110px);
        overflow-y: auto;
      }

      // Close Button
      .close-btn {
        width: 40px;
        height: 40px;
        top: 10px;
        left: 10px;
        font-size: 2em;
      }

      // Submit Button
      .submit-btn {
        bottom: 0;
        left: 0;
        height: 60px;
      }

      &.open {
        right: 0;
      }
    }

    // Result
    .result {
      // Search Box
      .p-search-box {
        width: 90%;
      }
    }

    // Filter Button
    .filter-btn {
      border-radius: 5px;
    }
  }
}
