// Variables
@import "variables";

// Mixins
@import "mixins";

// Pages Header
@import "pagesHeader";

// Pages Footer
@import "pagesFooter";

// General Index Page
@import "index";

// Register And Forget Password
@import "register";

// Products
@import "products";

// Product Details
@import "productDetails";

// Blog
@import "blog";

// Cart and Checkout
@import "cart";

// Contact us and Ticketing
@import "contactUs";

// Responsive Mode
@import "responsive";

// Desktop Mode
@import "desktop";

// Fonts
@include font($ir-l);
@include font($ir-r);
@include font($ir-m);
@include font($ir-b);
@include font($k-r);
@include font($k-b);
@include font($k-bl);

// Public
* {
  direction: rtl;
}

html,
body {
  overflow-x: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.outline-none {
  outline: none !important;
}

textarea {
  resize: none !important;
}

a:focus {
  outline: 0;
}

.user-select-none {
  user-select: none;
}

.navigation .pagination .page-item {
  .page-link {
    border-radius: 2.5px;
    box-shadow: 5px 5px 15px #99999950;
  }
  &.active {
    background: $green;
    .page-link {
      color: white !important;
    }
  }
}

.box-shadow {
  box-shadow: 5px 5px 15px #99999915;
}

// Font Classes
.ir- {
  &l {
    font-family: $ir-l;
  }

  &r {
    font-family: $ir-r !important;
  }

  &m {
    font-family: $ir-m;
  }

  &b {
    font-family: $ir-b;
  }
}

.k- {
  &r {
    font-family: $k-r;
  }
  &b {
    font-family: $k-b;
  }

  &bl {
    font-family: $k-bl;
  }
}

// Text Colors
.c- {
  &star {
    color: $gold;
  }
  &dark {
    color: #333 !important;
  }

  &regular {
    color: #666 !important;
  }

  &grey {
    color: #999 !important;
    &-3 {
      color: $grey-3;
    }
  }

  &label {
    color: $form-label;
  }
}

// Font Sizes
.fs- {
  &regular {
    font-size: 1em;
  }

  &big {
    font-size: 1.2em;
  }

  &small {
    font-size: 0.9em;
  }

  &icon {
    font-size: 2em !important;
  }
}

.text-decoration-line {
  text-decoration: line-through;
}

// Button Classes
.btn- {
  &primary {
    border-radius: 2.5px !important;
    background-color: $primary !important;
    border-color: $primary !important;
    box-shadow: 5px 5px 15px #99999915;
  }
}

// Sections Padding
.sp- {
  &t,
  &y {
    padding-top: 100px;
  }

  &b,
  &y {
    padding-bottom: 100px;
  }
}

// Sections Margin
.sm- {
  &t,
  &y {
    margin-top: 100px;
  }

  &b,
  &y {
    margin-bottom: 100px;
  }
}

// Background Classes
.bg- {
  &body {
    background: $bg-body;
  }

  &footer {
    background: $bg-footer;
  }

  &green {
    background: $green;
  }

  &primary {
    background: $primary !important;
  }
}

// Section's Header
.section-header {
  height: 50px;
  // Title
  .title {
    line-height: 50px;
    font-size: 2em;
    background: url(../img/bullet-bg.svg) no-repeat center right, $bg-body;
    background-size: auto 100% !important;
    padding-right: 20px;
    padding-left: 10px;
  }

  // More Button
  .more {
    line-height: 50px;
    background: $bg-body;
    padding-right: 10px;
  }

  // Line
  hr {
    z-index: -250;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: #eee;
  }
}

// Cards Style
.card {
  box-shadow: 5px 5px 15px #99999915;
  transition: 0.3s;
  border-radius: 5px;

  // When Card is Hovering
  &:hover {
    box-shadow: 5px 5px 15px #99999930;
  }

  // Product Card
  &.product-card {
    // Header
    .card-header {
      // Add to Favorites
      .add-favorites {
        top: 0;
        left: 0;
        & > i {
          text-shadow: 2px 2px 5px #00000030;
          font-size: 2em;
        }
      }

      // Seller Details
      .product-seller {
        bottom: 0;
        right: 0;
        transform: translateY(50%);
        .seller- {
          &img {
            width: 30%;
            border: 3px solid #ffffff;
          }

          &name {
            width: 70%;
          }
        }
      }

      .product-location {
        bottom: 10px;
        left: 0;
        background: $green;
        padding-left: 10px;
        padding-right: 15px;
        height: 20px;
        line-height: 20px;
        border-radius: 0 10px 10px 0;
      }
    }

    // Body
    .card-body {
      padding-top: 20%;
    }
  }
}

// Checking Check Box
input[type="checkbox"] {
  & + .check-box-label > i {
    width: 17px;
    height: 17px;
    transform: translateY(3.5px);
    transition: 0.3s;
    &::before {
      transition: 0.3s;
    }
  }

  &:checked + .check-box-label > i {
    border: 1px solid #666;
    &::before {
      content: "\f00c";
    }
  }

  &:not(:checked) + .check-box-label > i {
    border: 1px solid #ccc;
    &::before {
      content: "";
    }
  }
}

.custom-control-label {
  padding-right: 25px;
  &::after {
    right: 0;
    left: auto !important;
  }

  &::before {
    right: 0;
    left: auto !important;
  }
}
