@font-face {
   font-family:'Shabnam';/*تعریف یک نام برای فونت*/
   src:url('../fonts/Shabnam-Light-FD.eot');/*اکسپلورر ۹ به بعد*/
   src:local('Shabnam'),/*بررسی نصب بودن فونت در سیستم کاربر*/
      url('../fonts/Shabnam-Light-FD.eot?#iefix') format('embedded-opentype'),/*هک برای اکسپلورر ۸ و ماقبل*/
      url('../fonts/Shabnam-Light-FD.woff') format('woff'),/*مرورگر های جدید - FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url('../fonts/Shabnam-Light-FD.woff2') format('woff2'),/*مرورگر های جدید - FF39+,Chrome36+, Opera24+*/
      url('../fonts/Shabnam-Light-FD.ttf') format('truetype');/*تمام مرورگرها به جزء اکسپلورر*/
   font-style:normal;
   font-weight:normal;
}