@charset "UTF-8";
.background {
   background-position: center;
   background-size: cover;
   padding-bottom: 80% !important;	
}
.background img {
	display:none;
}
.h-100 {
	height: 100%;
}
.pages-header {
  z-index: 500;
}
.pages-header .navbar {
  transition: 0.3s;
  backdrop-filter: blur(10px);
}
.pages-header .navbar .nav-link {
  color: #666;
}
.pages-header .navbar.active {
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  box-shadow: 5px 5px 15px #00000015;
}
.pages-header .dropdown-menu {
  left: auto;
  right: 0;
  top: calc(100% + 6px);
}
.pages-header .buttons .login-btn {
  margin-top: 10.5px;
}
.pages-header .buttons .icon {
  line-height: 59px;
  font-size: 1.5em;
}
.pages-header .buttons .cart-btn .counter {
  background: #4caf50;
  width: 20px;
  height: 20px;
  top: 5px;
  right: -5px;
  line-height: 20px;
}
.pages-header .search-box {
  height: 59px;
  top: -100%;
  transition: 0.3s;
}
.pages-header .search-box .search-input {
  width: calc(100% - 59px);
}
.pages-header .search-box .close-btn {
  width: 59px;
  height: 59px;
  line-height: 59px;
  font-size: 1.5em;
}
.pages-header .search-box.active {
  top: 0;
}

.login-modal .modal-title {
  font-size: 2em;
}

.pages-footer .trust-links .trust-item {
  width: 30%;
}
.pages-footer .trust-links .trust-item:not(:nth-child(3n)) {
  margin-left: 5%;
}

.index .intro {
  height: calc(100vh - 100px);
}
.index .intro .pages-header,
.index .intro .intro-carousel {
  top: 0;
  left: 0;
}
.index .intro .pages-header {
  z-index: 500;
}
.index .intro .pages-header .navbar .nav-link {
  color: #ffffff;
}
.index .intro .pages-header .navbar.active .nav-link {
  color: #666;
}
.index .intro .intro-carousel {
  bottom: 0;
  left: 0;
  z-index: 250;
}
.index .intro .intro-carousel .owl-nav button[role=presentation] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 4em;
}
.index .intro .intro-carousel .owl-nav button[role=presentation].owl-next {
  left: 10px;
}
.index .intro .intro-carousel .owl-nav button[role=presentation].owl-prev {
  right: 10px;
}
.index .intro .intro-carousel .item {
  background-size: cover !important;
  height: calc(100vh - 100px);
}
.index .intro .intro-carousel .item .slide-text {
  font-size: 4em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 80px);
  text-shadow: 0 5px 15px #00000030;
}
.index .intro .intro-carousel .item.slide-1 {
  background: url(../img/index-slide-1.png) no-repeat center;
}
.index .intro .intro-carousel .item.slide-2 {
  background: url(../img/index-slide-2.png) no-repeat center;
}

.register .steps-holder .line {
  background: #2196f3;
  height: 3px;
  left: 0;
  bottom: 8px;
  z-index: -20;
}
.register .steps-holder .step .bullet {
  transition: 0.3s;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 3px solid #2196f3;
  background: #ffffff;
}
.register .steps-holder .step.active .bullet {
  background: #2196f3;
}
.register .holder {
  box-shadow: 5px 5px 15px #99999915;
}
.register .holder .step-content {
  height: 0;
  overflow: hidden;
}
.register .holder .step-content.active {
  height: auto;
  overflow: inherit;
}

.products .result .header {
  height: 200px;
  background: url(../img/products-page-header.png) no-repeat center;
  background-size: cover;
  border-radius: 5px;
}
.products .result .header .p-search-box .s-input {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  height: 40px;
  border-radius: 2.5px;
  box-shadow: 5px 5px 15px #00000015;
}
.products .result .header .p-search-box .s-btn {
  font-size: 1.5em;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
.products .filter-btn {
  height: 40px;
  line-height: 40px;
}

.product-details .other-products .section-header {
  margin-bottom: 70px;
}
.product-details .other-products .farmer-bio {
  box-shadow: 5px 5px 15px #99999920;
  border-radius: 5px;
  padding: 60px 20px 20px 20px;
}
.product-details .other-products .farmer-bio .farmer-img {
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
}

.blog .category .c-item {
  height: 60px;
  line-height: 60px;
  text-shadow: 0 5px 10px #00000060;
  border-radius: 5px;
  font-size: 1.2em;
  background-size: cover;
}
.blog .category .c-item.rice {
  background: url(../img/bc-rice.png) no-repeat left center;
}

.cart .q-btn {
  cursor: pointer;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #333;
}
.cart .q-input {
  width: 50px;
}

.checkout .address-forms {
  transition: 0.3s;
  margin-top: 0;
  height: 0;
  overflow-y: hidden;
}
.checkout .address-forms.active {
  margin-top: 1rem;
  height: auto;
  overflow-y: inherit;
}
.checkout .discount input {
  border-radius: 0 5px 5px 0;
}
.checkout .discount button {
  border-radius: 5px 0 0 5px;
}

.contact-us .connection-way .icon,
.ticketing .connection-way .icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #ffffff;
  box-shadow: 5px 5px 15px #99999920;
}
.contact-us .connection-way .link,
.ticketing .connection-way .link {
  font-size: 1em;
  line-height: 1.5em;
}

@media only screen and (max-width: 767.99px) {
  .register .register-header {
    width: 80%;
  }

  .products .filters {
    padding: 50px 20px 20px 20px;
    background: #ffffff;
    position: absolute;
    top: -100px;
    right: -100vw;
    transition: 0.3s;
    z-index: 550;
    width: 100vw;
    height: 100vh;
  }
  .products .filters .categories {
    height: calc(100vh - 110px);
    overflow-y: auto;
  }
  .products .filters .close-btn {
    width: 40px;
    height: 40px;
    top: 10px;
    left: 10px;
    font-size: 2em;
  }
  .products .filters .submit-btn {
    bottom: 0;
    left: 0;
    height: 60px;
  }
  .products .filters.open {
    right: 0;
  }
  .products .result .p-search-box {
    width: 90%;
  }
  .products .filter-btn {
    border-radius: 5px;
  }
}
@media only screen and (min-width: 767.99px) {
  .register .register-header {
    width: 40%;
  }

  .contact-us .content {
    background: url(../img/contactus-bg.png) no-repeat bottom center;
    background-size: auto 80%;
  }

  .products .filters {
    border: 1px solid #eee;
    border-radius: 5px;
  }
  .products .filters .categories {
    padding: 20px;
  }
  .products .result .p-search-box {
    width: 70%;
  }
  .products .filter-btn {
    border-radius: 5px 5px 0 0;
  }

  .product-details .product-features > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .product-details .other-products .section-header {
    margin-bottom: 70px;
  }
  .product-details .other-products .farmer-products {
    transform: translateY(-50px);
  }
}
@font-face {
  font-family: iransans-light;
  src: url(../fonts/iransans-light.woff);
}
@font-face {
  font-family: iransans-regular;
  src: url(../fonts/iransans-regular.woff);
}
@font-face {
  font-family: iransans-medium;
  src: url(../fonts/iransans-medium.woff);
}
@font-face {
  font-family: iransans-bold;
  src: url(../fonts/iransans-bold.woff);
}
@font-face {
  font-family: kalameh-regular;
  src: url(../fonts/kalameh-regular.woff);
}
@font-face {
  font-family: kalameh-bold;
  src: url(../fonts/kalameh-bold.woff);
}
@font-face {
  font-family: kalameh-black;
  src: url(../fonts/kalameh-black.woff);
}
* {
  direction: rtl;
}

html,
body {
  overflow-x: hidden;
}

.cursor-pointer {
  cursor: pointer;
}

.outline-none {
  outline: none !important;
}

textarea {
  resize: none !important;
}

a:focus {
  outline: 0;
}

.user-select-none {
  user-select: none;
}

.navigation .pagination .page-item .page-link {
  border-radius: 2.5px;
  box-shadow: 5px 5px 15px #99999950;
}
.navigation .pagination .page-item.active {
  background: #4caf50;
}
.navigation .pagination .page-item.active .page-link {
  color: white !important;
}

.box-shadow {
  box-shadow: 5px 5px 15px #99999915;
}

.ir-l {
  font-family: iransans-light;
}
.ir-r {
  font-family: iransans-regular !important;
}
.ir-m {
  font-family: iransans-medium;
}
.ir-b {
  font-family: iransans-bold;
}

.k-r {
  font-family: kalameh-regular;
}
.k-b {
  font-family: kalameh-bold;
}
.k-bl {
  font-family: kalameh-black;
}

.c-star {
  color: #ffca28;
}
.c-dark {
  color: #333 !important;
}
.c-regular {
  color: #666 !important;
}
.c-grey {
  color: #999 !important;
}
.c-grey-3 {
  color: #cccccc;
}
.c-label {
  color: #0d47a1;
}

.fs-regular {
  font-size: 1em;
}
.fs-big {
  font-size: 1.2em;
}
.fs-small {
  font-size: 0.9em;
}
.fs-icon {
  font-size: 2em !important;
}

.text-decoration-line {
  text-decoration: line-through;
}

.btn-primary {
  border-radius: 2.5px !important;
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;
  box-shadow: 5px 5px 15px #99999915;
}

.sp-t, .sp-y {
  padding-top: 100px;
}
.sp-b, .sp-y {
  padding-bottom: 100px;
}

.sm-t, .sm-y {
  margin-top: 100px;
}
.sm-b, .sm-y {
  margin-bottom: 100px;
}

.bg-body {
  background: #fafafa;
}
.bg-footer {
  background: #f6f6f6;
}
.bg-green {
  background: #4caf50;
}
.bg-primary {
  background: #2196f3 !important;
}

.section-header {
  height: 50px;
}
.section-header .title {
  line-height: 50px;
  font-size: 2em;
  background: url(../img/bullet-bg.svg) no-repeat center right, #fafafa;
  background-size: auto 100% !important;
  padding-right: 20px;
  padding-left: 10px;
}
.section-header .more {
  line-height: 50px;
  background: #fafafa;
  padding-right: 10px;
}
.section-header hr {
  z-index: -250;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: #eee;
}

.card {
  box-shadow: 5px 5px 15px #99999915;
  transition: 0.3s;
  border-radius: 5px;
}
.card:hover {
  box-shadow: 5px 5px 15px #99999930;
}
.card.product-card .card-header .add-favorites {
  top: 0;
  left: 0;
}
.card.product-card .card-header .add-favorites > i {
  text-shadow: 2px 2px 5px #00000030;
  font-size: 2em;
}
.card.product-card .card-header .product-seller {
  bottom: 0;
  right: 0;
  transform: translateY(50%);
}
.card.product-card .card-header .product-seller .seller-img {
  width: 30%;
  border: 3px solid #ffffff;
}
.card.product-card .card-header .product-seller .seller-name {
  width: 70%;
}
.card.product-card .card-header .product-location {
  bottom: 10px;
  left: 0;
  background: #4caf50;
  padding-left: 10px;
  padding-right: 15px;
  height: 20px;
  line-height: 20px;
  border-radius: 0 10px 10px 0;
}
.card.product-card .card-body {
  padding-top: 20%;
}

input[type=checkbox] + .check-box-label > i {
  width: 17px;
  height: 17px;
  transform: translateY(3.5px);
  transition: 0.3s;
}
input[type=checkbox] + .check-box-label > i::before {
  transition: 0.3s;
}
input[type=checkbox]:checked + .check-box-label > i {
  border: 1px solid #666;
}
input[type=checkbox]:checked + .check-box-label > i::before {
  content: "";
}
input[type=checkbox]:not(:checked) + .check-box-label > i {
  border: 1px solid #ccc;
}
input[type=checkbox]:not(:checked) + .check-box-label > i::before {
  content: "";
}

.custom-control-label {
  padding-right: 25px;
}
.custom-control-label::after {
  right: 0;
  left: auto !important;
}
.custom-control-label::before {
  right: 0;
  left: auto !important;
}

/*# sourceMappingURL=main.css.map */
