/*<?php @session_start(); ?>*/

@colorDef: #18a6b2; 
@colorDarkDef: #146e75; 
@colorDarkerDef: #12595f;
@colorActiveDef: #22cedc; 
@colorHoverDef: #22cedc; 
@colorBorderDarkDef: #188b94; 
@colorBorderLightDef: #188b94;
@colorMenuDef: #fff; 

@fcolorDef: #fff;
@fcolorActiveDef: #fff;
@fcolorMenuDef: #888; 
@fcolorMenuBorderDef:#eee;
@brdRadiusDef:5px;

::selection {
   background: @colorDef; /* WebKit/Blink Browsers */
}
::-moz-selection {
   background: @colorDef; /* Gecko Browsers */
}

* {
   margin:0;
   padding: 0;
   /*font-family: 'WebYekan';*/
   font-family: 'IRANSans';
   font-size:12px;
}
html {
   scroll-behavior: smooth;
   overflow-x: hidden;
}
body{
   /*font-family: 'WebYekan' !important;*/
   font-family: 'IRANSans' !important;
   background-color: @colorDef;
}
p{
   direction: rtl;
   text-align: right;
   font-size: 18px !important;
}
hr {
   border-color: #dadada;
}
h1 {
   font-size: 26px;
}
@media screen and (max-width:768px) {
   h1 {
      font-size: 20px !important;
   }
}


/* --------------------------------------------------------------------------
   section
-----------------------------------------------------------------------------*/
section {

}
section .caption {
   text-transform: uppercase;
   color: white;
   margin-top: 0px;
   margin-bottom: 0px;
   line-height: 280px;
   text-align: center;
   direction: rtl;
   font-weight: bold;
   font-size: 42px;
}
section .container {
   margin:0 auto;
   padding: 0;
   width: 100%;
}
@media screen and (max-width:768px) {
   section .caption {
      line-height: 60px;
      font-size: 32px;
   }
}

/*------------------------------------------------------------------------------
   topContainer
------------------------------------------------------------------------------*/
.topContainer {
   position: relative;
   width: 100%;
   height:60px;
   line-height:60px;
   text-align: right;
   background-color: #ccc;
   float: left;
   direction: rtl;
   padding: 0px 5px 0px 5px;
   z-index: 2;
}
.topContainer .logo {
   /*width: 46px;
   height: 46px;*/
   margin: 0px auto;
   opacity:0px;
}
.topContainer .title {
   font-size: 28px;
   color:#000;
   text-align: center;
   text-shadow: 0px 0px 0.5px rgba(0,0,0,0.8);
}
.topContainer div{
   display: inline-block;
   margin:0;
   padding: 0px 2px 0px 2px;
}
.topContainer div input{
   /*height: 45px;*/

}
.topContainer div button{
   /*background-color: #E8E8E8;
   border:none;
   height: 45px;
   outline: none;*/
}
.topContainer div button:first-child{
   border-left: 1px solid #ddd;
}
.topContainer div button i{
   font-size: 18px;
}
.topContainer div.topContainer-btnList {
   display: none;
}

@media screen and (max-width:768px) {
   .topContainer {
      width: 100%;
   }
   .topContainer .logo {
      transform:scale(0.7,0.7);
   }
   .topContainer div.topContainer-btnList {
      display: block;
   }
   .topContainer div.topContainer-sabad{
      /*float: left;*/
   }
   .topContainer div.topContainer-sabad button{
      /*height: 45px;
      width: 65px;*/
   }

}
/*------------------------------------------------------------------------------
   headerContainer
------------------------------------------------------------------------------*/
.headerContainer {
   position: relative;
   width: 85%;
   text-align: right;
   background-color: #fff;
   margin: 15px 0px 10px 0px;
   border-radius:5px;
   float: left;
   direction: rtl;
   padding: 25px;
}
@media screen and (max-width:768px) {
   .headerContainer {
      width:82%;
   }
}
/*------------------------------------------------------------------------------
   rightContainer
------------------------------------------------------------------------------*/
.rightContainer {
   position: fixed;
   float: right;
	direction:rtl;
	text-align:right;
   background-color: #fff; /*@colorDef*/ /*#128c7e*/ /*#1a6441/* /*@colorDef*/
   border-left:1px solid #eee; /*@colorBorderDarkDef*/
   width:15%;
   overflow-y: auto;
   height: 100%;
   right:0px;
   top: 0px;
	padding-top:60px;
   z-index: 1;
   /*padding-top: 60px;*/
}
.rightContainer .rightContainer-logo {
   width: 100%;
   height: 86px;
   line-height: 60px;
   background-color:#fff;  /*@colorBorderLightDef*/
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   text-align: center;
	padding:15px 0px 15px 0px;
	border-bottom:1px solid #eee;
}
.rightContainer .rightContainer-logo img {
   vertical-align: middle;
   height: 100%;
   width: 100%;
}
.rightContainer .rightContainer-element {
   width: 100%;
   height: 60px;
   line-height: 60px;
   text-align: center;
   padding: 5px;
   color:#fff;
   border-bottom : 1px solid @colorBorderDarkDef;
   position: relative;
   cursor: pointer;
   transition: all 0.5px;
}
.rightContainer .rightContainer-element:hover{
   background-color: @colorBorderDarkDef;
}
/*.rightContainer .rightContainer-element i {
   font-size: 26px;
   height: 100%;
   opacity: 1;
   transition: all 0.5px;
}*/
/*.rightContainer .rightContainer-element span {
   font-size: 14px;
   padding: 0px;
   height: 100%;
   opacity: 1;
   transition: all 0.5px;
}*/
@media screen and (max-width:768px) {
   .rightContainer{
      width: 18%;
   }
   .rightContainer .rightContainer-element span {
      font-size: 0px;
      opacity : 0;
   }
   .rightContainer .rightContainer-element i {
   }
   .rightContainer .rightContainer-element:hover span{
      opacity : 1;
      font-size: 14px;
   }
   .rightContainer .rightContainer-element:hover i{
      opacity : 0;
      font-size: 0px;
   }
}
/*------------------------------------------------------------------------------
   topBar
------------------------------------------------------------------------------*/
.topBar {
   width: 100%;
   height: 100px;
   line-height: 120px;
   direction: rtl;
   background-color: #000;
   background-color: rgba(0,0,0,0.8);
   position: fixed;
   top:0px;
   left: 0px;
   z-index: 100;
   padding: 0px 10px 0px 10px;
}
.topBar .top-btnList{
   width: 32px;
   height: 54px;
   line-height: 54px;
   color: #FFD900;
   vertical-align: middle;
   text-align: center;
   cursor:pointer;
   font-size: 26px;
   display: inline-block;
   float: right;
}
.topBar .top-logo{
   height: 54px;
   overflow: hidden;
   line-height: 54px;
   color: #FFD900;
   vertical-align: middle;
   text-align: center;
   display: inline-block;
   float: left;

}
.topBar .top-logo img{
   height: 48px;
}
@media screen and (max-width:768px) {
   /*.topBar {
      display: block;
   }
   .topContainer {
      padding-top:36px;
   }*/
}
/*------------------------------------------------------------------------------
   mainContainer
------------------------------------------------------------------------------*/
.mainContainer {
   width: 85%;
   border-radius: 5px;
   background-color: #fff;
   min-height: 400px;
   float:left;
	padding:0px 10px 0px 10px;
}
@media screen and (max-width:768px) {
   .mainContainer {
      width: 82%;
      /*padding-top: 62px;*/
   }
}
/*------------------------------------------------------------------------------
   bottomContainer
------------------------------------------------------------------------------*/
.bottomContainer {
   width: 85%;
   padding:10px;
   text-align: center;
   background-color: #ccc;
   float: left;
}
.bottomContainer .logo {
   /*width: 46px;
   height: 46px;*/
   margin: 0px auto;
   transform:scale(0.5,0.5);
}
.bottomContainer .title {
   font-size: 16px;
   color:#000;
   text-align: center;
   text-shadow: 0px 0px 0.5px #000;
}
.bottomContainer .btnUp {
   margin:10px auto;
   width: 68px;
   height: 68px;
   line-height: 68px;
   font-size:60px;
   text-align:center;
   border-radius: 50%;
   background-color: #000;
   color: #EBC700;
   cursor: pointer;
   transition:all 0.5s;
}
.bottomContainer .btnUp:hover {
   transform:scale(1.3,1.3);
   background-color: #EBC700;
   color: #000;
}
@media screen and (max-width:768px) {
   .bottomContainer {
      width: 82%;
      padding:0px;
   }
}
/*------------------------------------------------------------------------------
  lblFile input & label
------------------------------------------------------------------------------*/
label.lblFile input[type="file"] {
    position: fixed;
    top: -1000px;
}
.lblFile {
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 2px;
    background: #3399FF;
    color:#fff;
    display: inline-block;
}
.lblFile:hover {
   color:#000;
}
.lblFile span {
   width: 100%;
   height:100%;
   display: inline-block;
   text-shadow: none;
}
.lblFile :invalid + span {
   background: #3399FF;
}
.lblFile :valid + span {
   background: #669900;
}
.lblCaption {
   width:200px;
   height: 40px;
   line-height: 40px;
   text-align: right;
   vertical-align: middle;
   background-color: #FFD900;
   color:#000;
   display: inline-block;
   font-size: 18px;
   margin:5px 0px 5px 0px;
	padding: 0px 10px 0px 10px;
}
.lblContent {
   width:260px;
   height: 40px;
   line-height: 40px;
   text-align: right;
   vertical-align: middle;
   background-color: #EEEEEE;
   color:#000;
   display: inline-block;
   font-size: 16px;
   margin: 5px 0px 5px 5px;
   padding: 0px 10px 0px 10px;
}
@media screen and (max-width:768px) {
   .lblCaption {
		width :100%;
		margin:0px;
	}
   .lblContent {
		width :100%;
		margin:0px 0px 10px 0px;
	}
}
/* --------------------------------------------------------------------------
   btn-custom1
-----------------------------------------------------------------------------*/
.btn.btn-custom1 {
	border-radius: 0px 25px 25px 0px !important;
	background-color: #ddd !important;
	color:#000 !important;
}
.btn.btn-custom1 i {
   margin-left:5px;
	margin-right:5px;
	color:#000;
}
.btn.btn-custom1.btn-label .btn-label-caption {
   border-radius: 0px 25px 25px 0px !important;
   background-color: #f1f1f1 !important;
	color:#000 !important;
}
@media screen and (max-width:768px) {
   .btn.btn-custom1 {
	   width: 50%;
	}
}
/* --------------------------------------------------------------------------
   box grid
-----------------------------------------------------------------------------*/
.box {
   width: 25%;
   padding-bottom: 25%;
   color: #FFF;
   position: relative;
   float: right;
   direction: rtl;
   margin-bottom: 10px;
   transition:ease-in-out 0.3s;
}
.box .box-innerBox {
   position: absolute;
   left: 10px;
   right: 10px;
   top: 15px;
   bottom: 15px;
   padding: 1px;
   padding-bottom:1px;
   overflow: hidden;
   cursor: pointer;
   border: 1px solid #ddd;
   border-bottom:none;
   border-radius: 5px 5px 0px 0px;
   box-shadow: 0px 0px 5px 2px #EDEDED;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}
.box .box-innerBox .box-innerBox-img {
   background-color: #fff;
   position: absolute;
   left: 0px;
   bottom:0px;
   width: 100%;
   height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   -webkit-transition:  ease-out all 0.3s;
   -moz-transition: ease-out all 0.3s;
   -ms-transition: ease-out all 0.3s;
   -o-transition: ease-out all 0.3s;
   transition: ease-out all 0.3s;
}
.box .box-innerBox .box-innerBox-robonRed {
   position: absolute;
   right: -32px;
   top: -32px;
   height: 64px;
   width: 64px;
   text-align: center;
   line-height: 102px;
   color: #fff;
   background-color: #FF3333;
   font-size: 14px;
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
   transform: rotate(45deg);
   box-shadow: 0px 1px 5px 0.3px #989898;
}
.box .box-innerBox .box-innerBox-robonGreen {
   position: absolute;
   right: -32px;
   top: -32px;
   height: 64px;
   width: 64px;
   text-align: center;
   line-height: 102px;
   color: #fff;
   background-color: #51B351;
   font-size: 14px;
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
   transform: rotate(45deg);
   box-shadow: 0px 1px 5px 0.3px #989898;
}
.box .box-innerBox .box-innerBox-counter {
   position: absolute;
   bottom:0px;
   left:0px;
   width:100%;
   height:36px;
   line-height:36px;
   font-family: 'digit7';
   font-size: 18px;
   font-weight:normal;
   letter-spacing: 0px;
   background-color: #000;
   background-color: rgba(0,0,0,0.8);
   color:red;
}
.box .box-innerBox .box-innerBox-content{
   background-color: #000;
   background-color: rgba(0,0,0,0.6);
   position: absolute;
   left: 0px;
   bottom:0px;
   width: 100%;
   height: 0%;
   opacity: 0;
   direction: rtl;
   text-align: right;
   padding: 10px;
   -webkit-transition:  ease-out all 0.3s;
   -moz-transition: ease-out all 0.3s;
   -ms-transition: ease-out all 0.3s;
   -o-transition: ease-out all 0.3s;
   transition: ease-out all 0.3s;
}
/*.box .box-innerBox .box-innerBox-content h2 {
   color: #fff;
   font-size: 18px;
   font-weight: bold;
   margin-top: 0px;
}*/
.box .box-innerBox .box-innerBox-content h3 {
   color: #fff;
   font-size: 12px;
   opacity: 0;
   margin-top:0px !important;
}
.box .box-innerBox .box-innerBox-content h2 {
   color: #fff;
   font-size: 16px;
   opacity: 1;
   margin-top:0px !important;
}
.box .box-innerBox .box-innerBox-content p {
   /*color: #F78E1E;*/
   font-size: 14px;
   margin-top: 0px;
}
/*.box:hover {
   background-color: #ddd;
   border:1px solid #ddd;
   border-bottom: none;
   border-top: none;
   z-index: 2000;
}*/
/*.box:hover .titleHed {
   background-color: #ddd;
   border:1px solid #ddd;
   box-shadow: 0px 0px 1px 1px #ddd;
}*/
.box .box-innerBox:hover .img {
   -webkit-filter: blur(10px);
   -moz-filter: blur(10px);
   -o-filter: blur(10px);
   -ms-filter: blur(10px);
   filter: blur(10px);
}

.box .box-innerBox:hover .box-innerBox-content {
   height: 100%;
   opacity: 1;
}
.box .box-innerBox:hover .box-innerBox-content h3 {
   opacity: 1;
}
.box .box-innerBox .box-innerBox-content:hover {
   height: 100%;
}
.box .box-innerBox .box-innerBox-content:hover  {
   opacity: 1;
}
.box .box-titleHed {
   position : absolute;
   height :70px;
   bottom:-55px;
   left: 10px;
   right: 10px;
   padding: 5px 5px 10px 5px;
   cursor:pointer;
   color:#555;
   font-size:10px;
   text-align:right;
   direction:rtl;
   border: 1px solid #ddd;
   background-color: #EEE;
   overflow: hidden;
}
.box .box-titleHed .box-titleHed-counter {
   position: absolute;
   bottom:0px;
   left:0px;
   width:100%;
   height:36px;
   line-height:36px;
   font-family: 'digit7';
   font-size: 18px;
   font-weight:normal;
   letter-spacing: 0px;
   background-color: #000;
   background-color: rgba(0,0,0,0.8);
   color:red;
}
.box .box-titleHed .box-titleHed-gheimat {
   font-weight: bold;
   color : #669900;
   font-size:14px;
   display: block;
}
.box .box-titleHed .box-titleHed-gheimatOld {
   font-weight: bold;
   color : #FF0000;
   text-decoration: line-through;
   font-size:12px;
   display: block;
}
.box .box-titleHed .box-titleHed-btnView {
   position: absolute;
   left: -32px;
   bottom: -32px;
   height: 64px;
   width: 64px;
   text-align: center;
   line-height: 20px;
   color:#fff;
   background-color: #FF6600;
   font-size: 12px;
   -webkit-transform: rotate(45deg);/* Safari */
   -moz-transform: rotate(45deg);/* Firefox */
   -ms-transform: rotate(45deg);/* IE */
   -o-transform: rotate(45deg);/* Opera */
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);/* Internet Explorer */
   transform:rotate(45deg);
}
.box .box-titleHed .box-titleHed-title {
   font-weight: bold;
   font-size:13px;
   display: block;
   margin-top:0px !important;
}
.box .box-actionHed {
   position : absolute;
   height: 38px;
   bottom: -92px;
   left: 10px;
   right: 10px;
   cursor:pointer;
   border: 1px solid #ddd;
   border-top:none;
   background-color: #EEE;
   text-align: left;
   padding: 3px 0px 0px 5px;
}
.box .box-actionHed .box-actionHed-btnAction {
   height: 32px;
   width: 32px;
   line-height: 32px;
   font-size:18px;
   cursor:pointer;
   text-align: center;
   background-color: transparent;
   padding: 3px;
   margin-right: 2px;
   border-radius: 0px !important;
   transition:all 0.2s;
   color:#AAA;
}
.box .box-actionHed .box-actionHed-btnAction i{
   transition:all 0.2s;
}
.box .box-actionHed .box-actionHed-btnAction i:hover {
   transform: scale(1.5,1.5);
}
.box .box-actionHed .box-actionHed-btnFavorites:hover {
   color: #D43F3A;
}
.box .box-actionHed .box-actionHed-btnEye:hover {
   color: #46B8DA;
}
.box .box-actionHed .box-actionHed-btnEye a {
   color:#AAA !important;
}
.box .box-actionHed .box-actionHed-btnEye a:hover {
   color: #46B8DA !important;
}
.box .box-actionHed .box-actionHed-btnShop:hover {
   color: @colorBorderDarkDef;
}
@media screen and (max-width:768px) {
   .box {
      width: 50%;
      padding-bottom: 50%;
   }
   .box .box-innerBox .box-innerBox-content h2 {
		font-size:14px;
	}
}
@media screen and (max-width:425px) {
   .box {
      width: 100%;
      padding-bottom: 100%;
   }
   .box .box-innerBox {
      position: absolute;
      left: 5px;
      right: 5px;
      top: 10px;
      bottom: 10px;
   }
   .box .box-actionHed {
      padding: 5px 0px 0px 0px;
      text-align:center;
      border-top:1px solid #E6E6E6;
      left: 5px;
      right: 5px;
   }
   .box .box-titleHed {
      left: 5px;
      right: 5px;
   }
}
/* --------------------------------------------------------------------------
   box List
-----------------------------------------------------------------------------*/
.boxList {
   width: 100%;
   /*padding-bottom: 15%;*/
   height: 160px;
   color: #FFF;
   border-bottom: 1px solid #ddd;
   position: relative;
   float: right;
   direction: rtl;
   margin-bottom: 0px;
   transition:ease-in-out 0.3s;
}
.boxList:first-child {
   /*border-top: 1px solid #ddd;
   margin-top:64px;*/
}
.boxList .boxList-innerBox {
   position: absolute;
   left: 15px;
   right: 15px;
   top: 15px;
   bottom: 15px;
   overflow: hidden;
   cursor: pointer;
}
.boxList .boxList-innerBox .boxList-innerBox-img {
   background-color: #fff;
   position: absolute;
   right: 0px;
   top: 0px;
   bottom: 0px;
   width: 25%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   -webkit-transition: ease-out all 0.3s;
   -moz-transition: ease-out all 0.3s;
   -ms-transition: ease-out all 0.3s;
   -o-transition: ease-out all 0.3s;
   transition: ease-out all 0.3s;
}
.boxList .boxList-innerBox .boxList-innerBox-robonRed {
   position: absolute;
   left: -32px;
   top: -32px;
   height: 64px;
   width: 64px;
   text-align: center;
   line-height: 102px;
   color: #fff;
   background-color: #FF3333;
   font-size: 14px;
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
   transform: rotate(-45deg);
   box-shadow: 0px 1px 5px 0.3px #989898;
}
.boxList .boxList-innerBox .boxList-innerBox-robonGreen {
   position: absolute;
   left: -32px;
   top: -32px;
   height: 64px;
   width: 64px;
   text-align: center;
   line-height: 102px;
   color: #fff;
   background-color: #51B351;
   font-size: 14px;
   -webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
   transform: rotate(-45deg);
   box-shadow: 0px 1px 5px 0.3px #989898;
}
.boxList .boxList-innerBox .boxList-innerBox-content {
   position: absolute;
   left: 0px;
   top: 0px;
   width: 75%;
   height: 100%;
   direction: rtl;
   text-align: right;
   padding: 10px;
   /*border-right: 1px solid #ddd;*/
   -webkit-transition: ease-out all 0.3s;
   -moz-transition: ease-out all 0.3s;
   -ms-transition: ease-out all 0.3s;
   -o-transition: ease-out all 0.3s;
   transition: ease-out all 0.3s;
}
.boxList .boxList-innerBox .boxList-innerBox-content h2,
.boxList .boxList-innerBox .boxList-innerBox-content h2 a {
   color: #000 !important;
   font-size: 16px  !important;
   font-weight:bold;
   margin-top:0px !important;
}
.boxList .boxList-innerBox .boxList-innerBox-content h3 {
   color: #555;
   font-size: 14px;
   margin-top:0px !important;
}
.boxList .boxList-innerBox .boxList-innerBox-content p {
   /*color: #F78E1E;*/
   font-size: 14px;
   margin-top: 0px;
}
.boxList .boxList-innerBox:hover .boxList-innerBox.img {
   -webkit-filter: blur(10px);
   -moz-filter: blur(10px);
   -o-filter: blur(10px);
   -ms-filter: blur(10px);
   filter: blur(10px);
}
.boxList .boxList-innerBox .boxList-innerBox-titleHed {
   position: absolute;
   height: 50px;
   width: 75%;
   bottom: 0px;
   left: 0px;
   padding: 5px;
   cursor: pointer;
   color: #555;
   font-size: 10px;
   text-align: right;
   direction: rtl;
   overflow: hidden;
}
.boxList  .boxList-innerBox .boxList-innerBox-titleHed .boxList-titleHed-counter {
   position: absolute;
   bottom:0px;
   left:0px;
   width:100%;
   height:36px;
   line-height:36px;
   font-family: 'digit7';
   font-size: 18px;
   font-weight:normal;
   letter-spacing: 0px;
   background-color: #000;
   background-color: rgba(0,0,0,0.8);
   color:red;
}
.boxList .boxList-innerBox .boxList-innerBox-titleHed .boxList-titleHed-gheimat {
   font-weight: bold;
   color : #669900;
   font-size:14px;
   display: block;
}
.boxList .boxList-innerBox .boxList-innerBox-titleHed .boxList-titleHed-gheimatOld {
   font-weight: bold;
   color : #FF0000;
   text-decoration: line-through;
   font-size:12px;
   display: block;
}
.boxList .boxList-innerBox .boxList-innerBox-titleHed .boxList-titleHed-btnView {
   position: absolute;
   left: -32px;
   bottom: -32px;
   height: 64px;
   width: 64px;
   text-align: center;
   line-height: 20px;
   color:#fff;
   background-color: #FF6600;
   font-size: 12px;
   -webkit-transform: rotate(45deg);/* Safari */
   -moz-transform: rotate(45deg);/* Firefox */
   -ms-transform: rotate(45deg);/* IE */
   -o-transform: rotate(45deg);/* Opera */
   filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);/* Internet Explorer */
   transform:rotate(45deg);
}
.boxList .boxList-innerBox .boxList-innerBox-titleHed .boxList-titleHed-title {
   font-weight: bold;
   font-size:13px;
   display: block;
   margin-top:0px !important;
}
.boxList .boxList-actionHed {
   position: absolute;
   height: 38px;
   bottom: 0px;
   left: 0px;
   cursor: pointer;
   text-align: left;
   padding: 3px 0px 0px 5px;
}
.boxList .boxList-actionHed .boxList-actionHed-btnAction {
   height: 32px;
   width: 32px;
   line-height: 32px;
   font-size:18px;
   cursor:pointer;
   text-align: center;
   background-color: transparent;
   padding: 3px;
   margin-right: 2px;
   border-radius: 0px !important;
   transition:all 0.2s;
   color:#AAA;
}
.boxList .boxList-actionHed .boxList-actionHed-btnAction i{
   transition:all 0.2s;
}
.boxList .boxList-actionHed .boxList-actionHed-btnAction i:hover {
   transform: scale(1.5,1.5);
}
.boxList .boxList-actionHed .boxList-actionHed-btnFavorites:hover {
   color: #D43F3A;
}
.boxList .boxList-actionHed .boxList-actionHed-btnEye:hover {
   color: #46B8DA;
}
.boxList .boxList-actionHed .boxList-actionHed-btnEye a {
   color:#AAA !important;
}
.boxList .boxList-actionHed .boxList-actionHed-btnEye a:hover {
   color: #46B8DA !important;
}
.boxList .boxList-actionHed .boxList-actionHed-btnShop:hover {
   color: @colorBorderDarkDef;
}
@media screen and (max-width:768px) {
   .boxList {
      width: 100%;
      height: 140px;
   }
}
@media screen and (max-width:425px) {
   .boxList .boxList-innerBox .boxList-innerBox-content h2,
   .boxList .boxList-innerBox .boxList-innerBox-content h2 a {
      color: #000 !important;
      font-size: 14px  !important;
      font-weight:bold;
      margin-top:0px !important;
   }
   .boxList .boxList-innerBox .boxList-innerBox-content h3 {
      color: #555;
      font-size: 12px;
      margin-top:0px !important;
   }
   .boxList .boxList-innerBox .boxList-innerBox-img {
      width:30%;
   }
   .boxList .boxList-innerBox .boxList-innerBox-content {
      width:70%;
   }
   .boxList .boxList-innerBox .boxList-innerBox-titleHed {
      width:70%;
   }
   .boxList .boxList-innerBox .boxList-innerBox-titleHed .boxList-titleHed-gheimat ,
   .boxList .boxList-innerBox .boxList-innerBox-titleHed .boxList-titleHed-gheimatOld {
      font-size: 12px;
   }
}
/*------------------------------------------------------------------------------
   listGrid
------------------------------------------------------------------------------*/
.listGrid {
   width: 25%;
   color: #FFF;
   background-color: #fff;
   position: relative;
   float: right;
   direction: rtl;
   margin-bottom: 10px;
   transition:ease-in-out 0.3s;
}
.listGrid .listGrid-btn {
   width: 100%;
   background-color: @colorDef;
   border:2px solid #fff;
}
.listGrid .listGrid-innerBox {
   position: absolute;
   left: 10px;
   right: 10px;
   top: 10px;
   bottom: 10px;
   padding: 1px;
   padding-bottom:1px;
   overflow: hidden;
   cursor: pointer;
   background-color: red;
   text-align:center;
   vertical-align: middle;
}
@media screen and (max-width:425px) {
   /* Mobile L */
   .listGrid {
      width: 50%;
      color: #fff;
      position: relative;
      float: right;
      direction: rtl;
      margin-bottom: 10px;
      transition:ease-in-out 0.3s;
   }
}
/*------------------------------------------------------------------------------
   systemMsg
------------------------------------------------------------------------------*/
#layer_message h1 {
   background-color: #00C8C8;
   color: #fff;
}
#layer_message #layer_messageContent {
   height: 280px;
   color:#666;
   font-size: 16px;
   padding: 10px;
   direction: rtl;
}
#layer_message #layer_messageContent .imageCircle {
   border-color: #00C8C8;
   border-color: rgba(0, 200, 200, 0.6);
   border-radius: 0px;
}
#layer_message #layer_messageContent a {
   background-color: #00C8C8;
   color: #fff;
}
#layer_message #layer_messageContent i {
   color: #00C8C8;
}
/* --------------------------------------------------------------------------
   image
-----------------------------------------------------------------------------*/
.image {
   margin:0px 0px 0px 30px;
   border:1px solid #DDDDDD;
   border-radius: 5px;
   box-shadow: 0 0 13px 0 #eee;
   width:400px
}
.imageCircle {
   /*border:1px solid #DDDDDD;*/
   border-radius: 50%;
   /*box-shadow: 0 0 13px 0 #eee;*/
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width:200px;
   height:200px;
   display: inline-block;
}
.imageCircle-small {
   /*border:1px solid #DDDDDD;*/
   border-radius: 50%;
   /*box-shadow: 0 0 13px 0 #eee;*/
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width:100px;
   height:100px;
   display: inline-block;
}
@media screen and (max-width:768px) {
   .image {
      width:100%;
   }
   .imageCircle {
      float: none;
      margin:10px auto;
      display:block;
	   width:150px;
	   height:150px;
   }

}
/*------------------------------------------------------------------------------
  chatOnline
------------------------------------------------------------------------------*/
.chatOnlineAlert {
   position: fixed;
   bottom: -2px;
   right: 10px;
   width: 120px;
   height: 36px;
   line-height: 36px;
   background-color: #283849;
   background-color: rgba(40, 56, 73, 0.8);
   color:#fff;
   border-radius: 4px 4px 0px 0px;
   cursor: pointer;
   text-align: center;
   z-index: 1000;
}
.chatOnlineAlert a {
   color:#fff;
}
.chatOnlineAlert .chatOnlineAlert-info {
   background-color: @colorDarkDef;
   width: 24px !important;
   height: 24px;
   line-height: 24px;
   text-align: center;
   border-radius: 50%;
   display: inline-block;
}
.chatOnline {
   position: relative;	
}
.chatOnline.img {
   width: 64px;
   height: 64px;
   border-radius: 50%;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: inline-block;
}
.chatOnline.info {
   width:22px;
   height:22px;
   text-align: center;
   line-height: 22px;
   font-size: 12px;
   background-color: #339900;
   color:#fff;
   border-radius: 50%;
   display: inline-block;
   position: absolute;
}
.chatOnline .chatOnline-infoMe {
	position:absolute;
	left:0px;
	bottom:0px;
   width: 24px !important;
   height: 24px;	
   line-height: 24px;
   text-align: center;
   background-color: #000;
   background-color: rgba(0, 0, 0, 0.6);
	color:#fff;
	border:1px solid #555;
   border-radius: 50%;
}
.chatOnline .chatOnline-infoMe:before {
   content:'me';	
}
.chatOnline.room {
   background-image: url(../images/texture/chat3.jpg);
   min-height: 260px;
   height: 400px;
   position: relative;
}
.chatOnline.room .chatContainer {
   padding: 10px 35px 75px 35px;
   height:100%;
   overflow-y: auto;
}
.chatOnline.room .row {
   margin: 0px;
}

.chatOnline.room .chatContainer .msgRight {
   width: 100%;
}
.chatOnline.room .chatContainer .msgRight .content {
   direction: rtl;
   text-align: right;
   padding: 5px;
}
.chatOnline.room .chatContainer .msgRight .content .status {
   font-size: 12px;
   color:#000;
   display: inline;
}
.chatOnline.room .chatContainer .msgRight .content .img  {
   display: inline-block;
   width: 46px;
   height: 46px;
   border-radius: 50%;
   margin-left: 5px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: inline-block;
}
.chatOnline.room .chatContainer .msgRight .content .msg  {
   background-color: #A578A5;
   border-radius: 20px;
   color:#fff;
   font-size: 16px;
   display: inline-block;
   padding: 10px;
}

.chatOnline.room .chatContainer .msgLeft {
   width: 100%;
}
.chatOnline.room .chatContainer .msgLeft .content  {
   direction: rtl;
   text-align: left;
   padding: 5px;
}
.chatOnline.room .chatContainer .msgLeft .content .status {
   font-size: 12px;
   color:#000;
   display: inline;
}
.chatOnline.room .chatContainer .msgLeft .content .img  {
   display: inline-block;
   width: 46px;
   height: 46px;
   border-radius: 50%;
   margin-left: 5px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: inline-block;
}
.chatOnline.room .chatContainer .msgLeft .content .msg  {
   background-color: #FF0066;
   border-radius: 20px;
   color:#fff;
   font-size: 16px;
   display: inline-block;
   padding: 10px;
}
.chatOnline.room .input {
   position: absolute;
   left: 0px;
   bottom: 0px;
   height:60px;
   width:100%;
   background-color: #fff;
   border-top: 1px solid #EEEEEE;
   padding: 10px;
}
.chatOnline.room .input input[type='text'] {
   height:100%;
   width:90%;
   text-indent: 10px;
   color:#444;
   direction: rtl;
   text-align: right;
   border:none;
}
.chatOnline.room .input .btnSend {
   height:100% !important;
   width:8% !important;
   background-color: transparent !important;
   border:none !important;
   font-size: 20px;
}
.chatOnline.room .input .btnLoading {
   height:38px !important;
   width:60px !important;
   background-color: transparent !important;
   border:none !important;
   font-size: 22px;
   display: none;
}
/* --------------------------------------------------------------------------
   contact
-----------------------------------------------------------------------------*/
#layer_contactMap , #layer_contactUs {
   float: left;
   width: 50%;
   padding: 20px;
   direction: rtl;
}
#layer_contactUs {
   float: right;
}
#layer_contactUs textarea {
   width: 100%;
}
#layer_contactUs input[type='text'] {
   width: 100%;
   text-indent: 5px;
   height: 36px;
   direction: rtl;
}
@media screen and (max-width:768px) {
   #layer_contactMap , #layer_contactUs {
      width: 100%;
      padding: 5px 0px 5px 0px;
   }
}
/* --------------------------------------------------------------------------
   login page
-----------------------------------------------------------------------------*/
.bg {
   background-color:#458dd5;
   background-size:cover;
   background-position:center;
   background-image:url(../images/bg.jpg);
   width: 100%;
   height: 100%;
   position: fixed;
   left:0px;
   left:0px;
   transition: all 0.3s;
}
#layer_login {
	background-color: #fff;
	position: absolute;
	left: ~"calc(50vw - 175px)";
	top: ~"calc(50vh - 210px)";
	width: 350px;
	height: 420px;
	padding: 15px 35px 15px 35px;
	text-align: center;
	border-radius: 10px;
	box-shadow:0px 0px 15px 1px rgba(0,0,0,0.6);
	transition:all 0.5s;
}

#layer_login:hover {
   background-color: rgba(255,255,255,0.7);
}

#layer_login input[type='text'],#layer_login input[type='password']{
   width: 100%  !important;
   height: 32px !important;
   margin-bottom: 5px;
   text-align: left;
   direction:ltr;
   text-indent: 5px;
   border-radius: 0px;
}

#layer_login label{
   text-align:right;
}
      
#layer_login .titleBar {
   position:absolute;
   left:0px;
   right:0px;
   top:-6px;
   height:52px;
   line-height:52px;
   background-color:#F7941D;
   color:#fff;
   text-align:center;
   font-size : 18px;
   border-radius: 10px 10px 0px 0px;
}
#layer_login h2 {
   color:#FF0000;
   font-size: 20px;
   direction: rtl;
}
#layer_login h1 {
   color:#000;
   font-size: 25px;
   direction: rtl;
   text-align:center;
   text-shadow: 0px 0px 1px #aaa;
}
#layer_login hr {
   border:none;
   border-bottom: 1px solid #EEE;
   border-color: rgba(0,0,0,0.1);
}
#layer_login #btn_login {
   position: absolute;
   right: 10px;
   bottom: 10px;
   background-color:#F7941D;
}
#layer_login #btn_refresh {
   cursor: pointer;
}
#layer_login span {
   direction:rtl;
   text-align: right;
   color:red;
   font-size: 16px;
}
@media screen and (max-width:768px){
   #layer_login {
      position: relative;
      width: 100%;
      height:100%;
      left:0px;
      top:0px;
      border-radius:0px;
      background-color:rgba(255,255,255,0.7);
   }
   #layer_login .titleBar {
      border-radius:0px;
   }		
}
/*------------------------------------------------------------------------------
  register
------------------------------------------------------------------------------*/
#layer_register {
   /*padding:40px; */
   position: relative;
   width:50%;/*width:420px;*/
   color: #000;
   direction: rtl;
   margin-bottom: 30px;
}
#layer_register label {
   color:#AAAAAA;
   font-size: 12px;
   margin-top:5px;
}
#layer_register .msg {
   margin-bottom:10px;
}
#layer_register input[type='text'] {
   width:100%;
   margin-bottom: 10px;
}
#layer_registerHelp {
   padding: 40px 25px 40px 25px;
   background-color: #fff;
   box-shadow: 0px 0px 10px 0.1px #888;
   border-top: 6px solid #FFD900;
   position: relative;
   float: left;
   border-radius: 5px;
   width: 48%;
   font-size: 16px;
   margin-bottom: 30px;
}
#layer_registerHelp i {
   color:#0088FF;
}
@media screen and (max-width:768px) {
   #layer_register {
      width:100%;
      margin:0px auto 30px auto;
      float:none;
   }
   #layer_registerHelp {
      width:100%;
      margin:0px auto 30px auto;
      float:none;
      font-size: 15px;
   }
}
/*------------------------------------------------------------------------------
  sabad
------------------------------------------------------------------------------*/
#layer_sabad {
   width: 100%;
   background-color: #fff;
}
#layer_sabad table {
   width: 100%;
}
#layer_sabad table tr td img {
   width: 64px;
   border-radius: 5px;
   vertical-align: middle;
}
#layer_sabad table tr td input {
   /*width:100%;*/
}
#layer_sabad table tr td button {
   /*width:100%; */
}
/*------------------------------------------------------------------------------
  productImages
------------------------------------------------------------------------------*/
#layer_productImages {
   width: 65%;
   float: left;
   padding: 10px;
   background-color: #fff;
}
#layer_productImages > .imgs{
   width: 100%;
}
#layer_productImages > .imgs > .mainImg{
   width: 100%;
   padding-bottom: 50%;
   cursor: pointer;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   overflow: hidden;
   background-color: #fff;
   border:1px solid #ddd;
}
#layer_productImages > .imgs > .listImgs{
   background-color: #fff;
   padding-top: 10px;
   text-align: center;
}
#layer_productImages > .imgs > .listImgs span{
   width: 10%;
   padding-bottom: 10%;
   cursor: pointer;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-color: #fff;
   border: 1px solid  #ddd;
	border-radius : @brdRadiusDef;
   outline: none;
   overflow: hidden;
   text-align: center;
   transition: all 0.3s;
   display: inline-block;
   overflow:hidden;
}
#layer_productImages > .imgs > .listImgs span:hover ,
#layer_productImages > .imgs > .listImgs span:focus{
   transform:scale(1.3,1.3);
   border:3px solid @colorDef;
}

@media screen and (max-width:768px){
   #layer_productImages {
      margin-top:10px;
      width:100%;
      border:none;
      border-bottom: 1px solid #ddd;
   }
   #layer_productImages > .imgs > .mainImg{
      width: 100%;
      padding-bottom: 100%;
   }
   #layer_productImages > .imgs > .listImgs span {
      width: 18%;
      padding-bottom: 18%;
   }

}
/* --------------------------------------------------------------------------
   productHed
-----------------------------------------------------------------------------*/
#layer_productHed {
   width : 35%;
   float:right;
   padding: 0px 0px 5px 20px;
   direction: rtl;
   text-align: right;
   border-bottom: 1px solid #EEE;

}
#layer_productHed h1 {
   font-size: 22px;
   text-align: right;
}
#layer_productHed .gheimat {
   color:#5A88D3;
   font-weight: bold;
   font-size: 16px;
}
#layer_productHed .comment {
   color:#666;
   font-size: 14px;
   margin-bottom: 5px;
   text-align: right;
}
@media screen and (max-width:768px){
   #layer_productHed {
      margin-top:10px;
		padding:0px;
      width:100%;
   }
}
/* --------------------------------------------------------------------------
   productShare
-----------------------------------------------------------------------------*/
#layer_productShare {
   text-align: center;
   padding: 20px 0px;
   padding-top:20px;
   float: right;
}
#layer_productShare button {
   /*font-size: 18px;*/
   width: 56px;
   height: 56px;
   margin-right:5px;
   background-color: #000;
   color: #fff !important;
   transition: all 0.3s;
}
#layer_productShare button:hover {
   transform:scale(1.3,1.3);
   background-color: #52a8f7;
   color: #000;
}
#layer_productShare button a {
   color: #fff !important;
}
#layer_productShare .facebook {
   color:#fff;
   background-color: #006699;
}
#layer_productShare .qr {
   cursor:pointer;
   width: 100%;
   margin-bottom :15px;
   transition: all 0.5s;
}
#layer_productShare .qr img {
   width: 160px;
   height: 160px;
   background-color: #fff;
}
#layer_productShare .googlePlus {
   color:#fff;
   background-color: #CC3300;
}
#layer_productShare .twitter {
   color:#fff;
   background-color: #89C3F4;
}
#layer_productShare .whatsapp{
   color:#fff;
   background-color: #79B549;
}
@media screen and (max-width:768px){
   #layer_productShare button {
      /*font-size: 28px;*/
      width: 56px;
      height: 56px;
   }
}
/* --------------------------------------------------------------------------
   product opine
-----------------------------------------------------------------------------*/
#layer_productOpines{
   /*border: 1px solid #ddd;*/
   direction: rtl !important;
   background-color: #fff;
   text-align: right !important;
   width: 100% !important;
   border-radius: 5px;
   padding: 5px;
}
#layer_productOpines .opine-inputs textarea {
   width:100%;
}
#layer_productOpines .opine-item {
   width:100%;
   background-color: #eee;
   padding-bottom: 15px;
   margin-bottom: 15px;
}
#layer_productOpines .opine-infoMsg {
   color:green;
}
#layer_productOpines .opine-item .opine-item-title {
   width: 100%;
   height : 36px;
   line-height: 36px;
   text-indent: 10px;
   background-color: #ccc;
   color: #000;
   font-size: 16px;
   text-align: right;
   overflow: hidden;
}
#layer_productOpines .opine-item .opine-item-img {
   width: 46px;
   height : 46px;
   display: inline-block;
   margin:10px;
}
#layer_productOpines .opine-item .opine-item-content {
    width:100%;
    font-size: 16px;
    padding: 10px 20px 0px 20px;
   min-height: 64px;
}
#layer_productOpines .opine-item > .opine-item-content div {
    padding: 0px 10px 0px 10px;
}
#layer_productOpines .opine-item > .opine-item-content hr{
   border-color: #ddd;
}
@media screen and (max-width:768px) {
   #layer_productOpines .opine-item > .opine-item-title {
      font-size: 12px;
   }
}
/* --------------------------------------------------------------------------
   itemContent
-----------------------------------------------------------------------------*/
#h_itemMap{
   direction: rtl;
   text-align: right;
   padding:10px;
   font-size:18px;
}
#h_itemMap a{
   font-size:18px;
   color:#6699CC;
}
@media screen and (max-width: 995px) {
   #layer_itemImages {
      width: 100%;
   }
   #layer_itemHed {
      width: 100%;
   }
   #layer_itemShare {
      width: 100%;
   }
   #layer_itemShare a {
      margin-right: 2px;
   }
   #layer_itemShare .qr {
      margin-left: 10px;
      margin-right: 10px;
   }
   #layer_itemHed h1 {
      font-size: 18px;
   }
   #layer_itemHed .comment {
      font-size: 12px;
   }
   #h_itemMap a{
      font-size:20px;
   }
}
@media screen and (max-width: 768px) {

   #h_itemMap a{
      font-size:17px;
   }
   #h_itemMap button{
      margin-top: 10px;
   }
}
/*------------------------------------------------------------------------------
   loading
------------------------------------------------------------------------------*/
#layer_loading {
   display: none;
   position: fixed;
   width:100%;
   height:100%;
   left:0px;
   top:0px;
   background-color: #000;
   background-color: rgba(0,0,0,0.6);
}
#layer_loading div {
	padding: 20px;
	margin:100px auto;
	width:120px;
	height: 120px;
	border-radius: 50%;
	background-color: #fff;
}
/* --------------------------------------------------------------------------
   handle
-----------------------------------------------------------------------------*/
.handle {
   position:fixed;
	left:0px;
	top:0px;
	bottom:0px;
	padding-top:90px;
	overflow:visible;
	z-index:997;
}
.handle .btn-image {
   background-color:rgba(0,0,0,0.3);
	width:125px;
	left:-93px;
	display:block;
	opacity: 0;
	margin:0px 0px 1px 0px;
	border-radius:0px !important;
	overflow:visible;
	/*transition:width 0.5s,opacity 0.5s;*/
	transition:none;
}
.handle .btn-image:first-child {
   border-radius : 0px 15px 0px 0px !important;
}
.handle .btn-image:first-child .btn-image-icon {
   border-radius : 0px 15px 0px 0px !important;
}
.handle .btn-image:last-child {
   border-radius : 0px 0px 15px 0px !important;
}
.handle .btn-image:last-child .btn-image-icon {
   border-radius : 0px 0px 15px 0px !important;
}
.handle .btn-image .btn-image-icon {
   background-color:@colorDef; 
   color: #fff;	
}
.handle .btn-image .btn-image-counter {
   position:absolute;
   right:-10px;
   top : 8px; 
   width:16px;
   height:16px;
   line-height:16px;
   text-align:center;
	font-size : 9px;
   border-radius:50%;
   background-color : rgba(255,255,255,0.5);
	border:1px solid #eee;
   color : #000;
   -webkit-transition: opacity 0.5s;	
   -moz-: opacity 0.5s;	
   -o-: opacity 0.5s;	
   transition: opacity 0.5s;	
}
.handle .btn-image:first-child .btn-image-counter {
   top:0px;	
}
.handle .btn-image:last-child .btn-image-counter {
   top:inherit;
   bottom:0px;	
}
.handle .btn-image:hover {
   width:125px !important;
	margin-left:-2px !important;
	color:#fff !important;
	opacity:1 !important;
}
.handle .btn-image:hover .btn-image-counter {
   opacity:0;
}
/*------------------------------------------------------------------------------
  myList
------------------------------------------------------------------------------*/
ul.myList {
   position:relative;
	overflow:none;
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	direction: ltr;
	text-align : left;
}
ul.myList li {
   list-style:none;
	line-height:46px;
	height:46px;
	padding:0px 0px 0px 5px;
	background-color:#fff;
	border-bottom:1px solid #eee;
	cursor : pointer;
}
ul.myList li.myList-item-selected {
   background-color: #f1f1f1;
}
ul.myList li.myList-item-selected:before {
   font-family: 'FontAwesome';
	font-size: 16px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	content: '\f00c';
	display: inline-block;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	border-radius: 50%;
	text-align: center;
	margin-top:5px;
}
ul.myList li .myList-item-title {
   display:inline-block;
	overflow:hidden;
	text-align:left;
	direction:ltr;
}
ul.myList li .myList-item-icon {
   display:inline-block;
	overflow: hidden;
	width : 36px;
	height:36px;
	line-height: 36px;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	border-radius:50%;
	margin-bottom: 5px;
}
ul.myList li img.myList-item-icon {
   padding: 5px 0px 5px 0px;
	width: inherit;
	border-radius: 50%;
}
ul.myList li .myList-item-counter {
	display: inline-block;
	min-width: 24px;
	height: 24px;
	line-height: 20px;
	text-align: center;
	border-radius: 24px;
	float: right;
	background-color: red;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	padding: 4px;
	margin: 10px;
}
ul.myList.myList-right {
   direction : rtl;
	text-align:right;
}
ul.myList.myList-right li {
	padding:0px 5px 0px 0px;
}
ul.myList.myList-right li .myList-item-title {
   text-align : right;
	direction:rtl;
}
ul.myList.myList-right li .myList-item-counter {
   float:left;
}
ul.myList li:hover {
   background-color : #f9f9f9;	
}
/*------------------------------------------------------------------------------
  myTag
------------------------------------------------------------------------------*/
ul.myTag {
   position:relative;
	overflow:none;
	padding:10px;
	margin:0px;
	direction: ltr;
	text-align : left;
	transition:all 0.5s;
}
ul.myTag li {
   list-style:none;
	display: inline-block;
   line-height: 30px;
   height: 32px;
	min-width:46px;
	text-align : center;
	border-radius:46px;
	background-color:#e4e4e4;
	border:1px solid #eee;
	padding:0px 10px 0px 5px;
	margin:0px 2px;
	cursor : pointer;
	transition:all 0.5s;
}
ul.myTag li::before {
	font-family: 'FontAwesome';
   content:'\f00d';
   padding : 0px 5px;
}
ul.myTag-right {
   direction: rtl;
	text-align:right;
}	
ul.myTag-right li {
   direction: rtl;
}
ul.myTag-right li span {
   direction: rtl;
	display:inline-block;
}
/*------------------------------------------------------------------------------
  myTreePage
------------------------------------------------------------------------------*/
ul.myTreePage {
   position:relative;
	overflow:none;
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	direction: ltr;
	text-align : left;	
}
ul.myTreePage li {
   list-style:none;
	line-height:46px;
	height:46px;
	padding:0px 0px 0px 5px;
	background-color:#fff;
	border-bottom:1px solid #eee;
	cursor : pointer;
}
ul.myTreePage li ul {
	position:absolute;
	overflow:none;
	left:0px;
	top:0px;
	right:0px;
	bottom:0px;
	padding: 0px;
	direction: ltr;
	text-align : left;
	background-color : #fff;
	
}
ul.myTreePage li.myTreePage-item-parent:before {
   font-family: 'FontAwesome';
	font-size: 16px;
	width: 36px;
	content: '\f053';
	display: inline-block;
	position: absolute;
	right: 5px;
	text-align: center;
}
ul.myTreePage li .myTreePage-item-title , ul.myTreePage li span , ul.myTreePage li a {
   display: inline-block;
   overflow: hidden;
   text-align: left;
   direction: ltr;
   height: 46px;
   line-height: 46px;
}
ul.myTreePage li .myTreePage-item-icon {
	display: inline-block;
	overflow: hidden;
	width: 36px;
	height: 36px;
	line-height: 36px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align : center;
	border-radius: 50%;
	
	/*vertical-align: super;*/
	margin-bottom: 5.5px;
}
ul.myTreePage li i.myTreePage-item-icon {
	border-radius: 0 !important;
}
ul.myTreePage li .myTreePage-item-counter {
	display: inline-block;
	min-width: 24px;
	height: 24px;
	line-height: 20px;
	text-align: center;
	border-radius: 24px;
	float: right;
	background-color: red;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	padding: 4px;
	margin: 10px;
}
ul.myTreePage li.myTreePage-item-selected {
   background-color: #f1f1f1;
}
ul.myTreePage li.myTreePage-item-selected:before {
   font-family: 'FontAwesome';
	font-size: 16px;
	width: 36px;
	height: 36px;
	line-height: 36px;
	color: #fff;
	content: '\f00c';
	display: inline-block;
	position: absolute;
	background-color: rgba(0,0,0,0.5);
	border-radius: 50%;
	text-align: center;
	margin-top:5px;
}
ul.myTreePage li.myTreePage-item-back {
   /*background-color: #f1f1f1;*/
	font-weight: bold;
	padding-left: 41px !important;
}
ul.myTreePage li.myTreePage-item-back:before {
	position: absolute;
   font-family: 'FontAwesome';
	font-size: 16px;
	width: 36px;
	content: '\f054';
	display: inline-block;
	text-align: center;
   left: 5px;
}
ul.myTreePage.myTreePage-right {
   direction : rtl;
	text-align:right;
}
ul.myTreePage.myTreePage-right li ul {
   direction : rtl;
	text-align:right;
}
ul.myTreePage.myTreePage-right li {
	padding:0px 5px 0px 0px;
}
ul.myTreePage.myTreePage-right li span {
   text-align : right;
	direction:rtl;
}
ul.myTreePage.myTreePage-right li.myTreePage-item-parent:before {
	content: '\f053';
	left: 5px;
	right: inherit;
}
ul.myTreePage.myTreePage-right li.myTreePage-item-back {
	padding-right: 41px;
	padding-left: inherit;
}
ul.myTreePage.myTreePage-right li.myTreePage-item-back:before {
	content: '\f054';
	right: 5px;
	left: inherit;
}
ul.myTreePage.myTreePage-right li .myTreePage-item-counter {
   float:left;
}
ul.myTreePage li:hover {
   background-color : #f9f9f9;	
}	
ul.myTreePage ul.myTreePage-show {
	display:block;
	opacity:1;     		   	
}
ul.myTreePage ul.myTreePage-hide {
	display:none;
	opacity:0;    		   	
}
/*------------------------------------------------------------------------------
  animation
------------------------------------------------------------------------------*/
@-moz-keyframes spin20{
   0% { -moz-transform: rotate(0deg); }
   100% { -moz-transform: rotate(20deg); }
   50% { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes spin20 {
   0% { -webkit-transform: rotate(0deg); }
   50% { -webkit-transform: rotate(20deg); }
   100% { -webkit-transform: rotate(0deg); }
}
@keyframes spin20 {
   0% {
      -webkit-transform: rotate(0deg);
      transform:rotate(0deg);
   }
   50% {
      -webkit-transform: rotate(20deg);
      transform:rotate(20deg);
   }
   100% {
      -webkit-transform: rotate(0deg);
      transform:rotate(0deg);
   }
}










/*------------------------------------------------------------------------------
  matrial
------------------------------------------------------------------------------*/
.matrial-shadow1 {
   box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.matrial-shadow2 {
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.matrial-shadow3 {
   box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.matrial-shadow4 {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.matrial-shadow5 {
   box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.matrial-side-container {
   padding:0px;
	height:100%;
}

.matrial-side-right {
   width:25%;
	overflow-x:hide;
	overflow-y:auto;
	right:0px;
	top:64px;
	bottom:80px;
	position:fixed;
	border-left: 1px solid #ddd;
	background-color: #1d1c27;
	transition:all 0.5s;
}
.matrial-side-right .matrial-side-right-handle {
   width:36px;
	height:36px;
	line-height:1px;
	right:20px;
	top:70px;
	position:fixed;
	display:none;
	transition:all 0.5s;
	font-size:14px;
	z-index:-1;
}
.matrial-side-right .matrial-side-right-handle:before{
   /*font-family: FontAwesome;
   content: "\f00b";
	font-size:18px;*/
}
.matrial-side-right .matrial-side-right-close {
	position:absolute;
	cursor:pointer;
	display:none;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #eeeeee;
	width: 100%;
	text-align: left;
	padding-left: 5px;
	height: 42px;
	line-height: 42px;
	 
	z-index:1;
}
.matrial-side-right .matrial-side-right-close:before{
   font-family: FontAwesome;
   content: "\f00d";
	font-size:24px;
}
.matrial-side-right .matrial-side-right-back {
   width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.0);
	right:0px;
	top:0px;
	position:fixed;
	cursor:pointer;
	display:none;
	z-index:-1;
	transition:0.5s;
}
.matrial-side-left {
   width:25%;
	overflow-x:hide;
	overflow-y:auto;
	left:0px;
	top:64px;
	bottom:80px;
	position:fixed;
}
.matrial-side-main {
   width:75%;
	overflow-x:hide;
	overflow-y:auto;
	left:0px;
	top:64px;
	bottom:80px;
	position:fixed;
}
.matrial-side-main h1:first-of-type {
   /*
	text-decoration-line: underline;
	text-decoration-color: orange;
	text-decoration-skip-ink: none;
	text-underline-position: under;
	*/
	border-bottom: 1px dashed #ddd;
}
.matrial-side-top {
	width: 100%;
	height: 64px;
	line-height: 64px;
	left: 0px;
	top: 0px;
	position: fixed;
	z-index: 200;
	background-color: #ffffff;
	border-bottom: 1px solid #eee;
	box-shadow: 1px 0px 25px 0px rgba(0,0,0,0.1);
}
.matrial-side-bottom {
   width:100%;
	height:80px;
	line-height:80px;
	left:0px;
	bottom:0px;
	position:fixed;
	overflow:hidden;
}
@media screen and (min-width: 1025px) { /*laptop and other*/
   .matrial-side-main {
	   width:80%;
	}
   .matrial-side-right {
		width:20%;
	}
}
@media screen and (max-width: 1024px) { /*pc*/
   .matrial-side-main {
	   width:75%;
	}
   .matrial-side-right {
		width:25%;
	}
}
@media screen and (max-width: 768px) { /*tablet*/
   .matrial-side-main {
	   width:100%;
		bottom:60px;
	}
   .matrial-side-right {
	   /*margin-right:-90%;*/
		width:35%;
		bottom:60px;
		padding-top:32px;
	}
   .matrial-side-right .matrial-side-right-handle {
      display:block;
   }	
	.matrial-side-right .matrial-side-right-close {
	   display:block;
	}
	.matrial-side-right .matrial-side-right-back {
	   display:block;
   }
	.matrial-side-bottom {
		height:60px;
		line-height:1;
	}
}
@media screen and (max-width: 425px) { /*l mobile */
   .matrial-side-right {
	   /*margin-right:-90%;*/
		width:60%;
	}
}

.matrial-card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 15px;
  position: relative;
}

/*------------------------------------------------------------------------------
  z-index set
------------------------------------------------------------------------------*/
#layer_loading       {z-index:1000 !important;} 
.myModal             {z-index:999 !important;}
.matrial-side-top    {z-index:998 !important;}
.matrial-side-right  {z-index:997 !important;}
.matrial-side-bottom {z-index:996 !important;}
.matrial-side-main   {z-index:995 !important;}



