@font-face {
  font-family: 'TildaFarm';
  src:  url('fonts/TildaFarm.eot?vimn3v');
  src:  url('fonts/TildaFarm.eot?vimn3v#iefix') format('embedded-opentype'),
    url('fonts/TildaFarm.ttf?vimn3v') format('truetype'),
    url('fonts/TildaFarm.woff?vimn3v') format('woff'),
    url('fonts/TildaFarm.svg?vimn3v#TildaFarm') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'TildaFarm' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
  content: "\e900";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-check:before {
  content: "\f00c";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-phone:before {
  content: "\f095";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-trash:before {
  content: "\f1f8";
}
.icon-close:before {
  content: "\e903";
}
.icon-cart:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
.icon-refresh:before {
  content: "\f021";
}
