<p>سلام. تشکر از پیغام شما<br />
<img alt="heart" src="http://127.0.0.1/prj_mrFarzaneh/asset/admin/js/plugins/ckeditor/plugins/smiley/images/heart.png" style="height:23px; width:23px" title="heart" /></p>
