					<h1>
						فروش محصولات و بازاریابی
					</h1>
					<p>
						<p>به راحتی می توانید فایل ها و مقالات و پایان نامه های خود را به فروش بگذارید.</p>
						<p>همچنین اگر وب سایت و یا صفحات و کانال ها و گروه های پر بازدید دارید، می توانید با سیستم بازاریابی این سایت، درآمدی با ور نکردنی داشته باشید.</p>
						<br><br>
						<a class='btn' href='user'>شروع کنید</a>
					</p>